
h2 {
	text-align: center;
	margin: 0 auto 0 auto;
}


.image {
	margin: 2em auto 2em auto;
	width: 30%;
	text-align: center;
}

.image img {
	width: 100%;
}



a.current:link  {
	text-decoration: none; 
	color: #b8d6cd
}

a.current:visited {
	text-decoration: none; 
	color: #b8d6cd
}

a.current:hover {
	text-decoration: underline; 
	color: #ef6767
}

a.current:active {
	text-decoration: underline; 
	color: #ef6767
}

