html{
    min-height:100%;
    margin-bottom:1px;
}

body{
    background-color : #ffffff;
    text-align : left;
    font-family : arial,verdana,sans-serif;
}

div.allcontent{
    max-width : 45em;
    background-color : white;
    margin-left : auto;
    margin-right : auto;
    margin-top : 50px;
    border-style : none;
}

div.logo{
    text-align : left;
    height : auto;
    margin-bottom : 0.5em;
    font-family : myriad web;
    font-style : oblique;
    font-size : 250%;
}

span.logoA { color : #ef6767}
span.logoB { color : #a1bf7b}

img.logo{
    width : 9em;
}

div.topmenu{
    text-align : right;
    height : auto;
}

hr.topline{
    background-color : #e1ffbb;
    border-style : none;
    height : 0.2em;
    margin-top : 0.1em;
}

div.three_left{
    width : 19%;
    margin-top : 3em;
    float : left;
}

div.three_right{
    width : 23%;
    margin-top : 0em;
    margin-bottom : 1em;
    float : right;
    font-size : small;
    text-align : center;
}

div.three_middle{
    margin-top : 1em;
    clear : none;
    margin-left : 22%;
    margin-right : 24%;
}

div.main{
    margin-top : 1em;
    margin-bottom : 1em;
    clear : none;
}

div.right{
    width : 30%;
    margin-top : 1em;
    margin-left : 2em;
    margin-bottom : 1em;
    float : right;
    font-size : small;
}

div.left{
    width : 20%;
    height : 30em;
    margin-top : 2em;
    margin-right : 1em;
    float : left;
}

div.leftlink{
    margin-top : 0.7em;
    font-size : small;
}

div.lefttoplink{
    height : 4em;
}

div.footer{
    margin-top : -0.5em;
    border-top : 0.3em solid #e1ffbb;
    padding-top : 0.4em;
    text-align : center;
    font-size : xx-small;
    clear : both;
    color : #a9a9a9;
}

.footerelement{
    margin-left : 4em;
    margin-right : 4em;
}

div.person_spacer{
    width : 100%;
    clear : both;
    height : 2em;
}

div.person_text{
    float : left;
    width : 75%;
}

div.person_image{
    float : right;
    width : 25%;
    text-align : right;
}

.PublicationImageCaption,.ImageCaption{
    margin-top : 0.5em;
    font-style : italic;
}

div.PublicationLink a:hover {text-decoration : none}
a:hover span.PublicationImageCaption {text-decoration : underline}

span.SQL {color : blue}

ul {list-style-type : none}
li { margin-top: 1em}

span.A {color: #ff0033}
span.C {color: #8b4513}
span.G {color: #228b22}
span.T {color: #0000ff}

a:link {text-decoration: none; color: #004b4b}
a:visited {text-decoration: none; color: #004b4b}
a:hover {text-decoration: underline; color: #ef6767}
a:active {text-decoration: underline; color: #ef6767}

a:hover img {text-decoration: none}

a.top { margin-left : 1em;}

a.current:link {text-decoration: none; color: #b8d6cd}
a.current:visited {text-decoration: none; color: #b8d6cd}
a.current:hover {text-decoration: underline; color: #ef6767}
a.current:active {text-decoration: underline; color: #ef6767}

a.logo:hover {text-decoration : none}
a.logo:active {text-decoration : none}
